html {
  /* height: 100%; */
}
body {
    margin: 0;
    /* height: 100%; */
    background-image: url(record.png);
    background-color: #2a2640;
}

.bigTitle {
  background:#734656;
  color:#f29544;
}
.blurb {
  background: #aca19d;
  color: #1b1626;
  padding: 1em;
}

.wholePage {
/* hm I didn't figure out how to make the background fill the whole page */
}

.questions {
  color:#f29544;
}
